/* Untuk class memakai . di awal */

.header-container {
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin: 10px;
}

.card-container {
  font-style: oblique;
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin: 20px;
}
